body {
    
    height: 100vh;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
}
.web {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: "Raleway", sans-serif;
    background-color: #01e37f;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height:500px;
    width: 550px; 
    background-color: white;
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
}
svg {
    margin: 10px;
    width: 20px;
    stroke: white;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 45%;
    position:relative ;
    background: radial-gradient(#e5f89e, #96e001);
    box-sizing: border-box;
    border-radius: 5px;
    left: -60px;
    box-shadow: 3px 10px 1px rgba(0, 0, 0, 0.2);
}
.left-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.slides {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    padding: 10px;
    height: 20%;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.left >img {
    width: 300px;
    position: relative;
    left: -50px;
}
.slides >img {
    width: 40px;
    padding: 5px;
    border: black 1px solid;
    border-radius: 5%;
}
.right {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 50%;
   box-sizing: border-box;
}
button {
    width: 170px;
    height: 55px;
    font-size: 13px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-weight: bold;
   
}
ul{
    font-size: 12px;
    padding:0;
    margin: 10px;
    margin-left:20px;
}
p {
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: grey;
}
h1 {
    font-size: 25px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 100;
    color: red;
}
.color >img {
    width: 30px;
    
}
.color >img:hover {
    border: black 1px solid;
    border-radius: 3px;
}

.color {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    gap: 2px;
    margin-bottom: 30px;
}
span {
    font-size: 20px;
}
.green {
    border: black 1px solid;
    border-radius: 3px;
}